{% extends "appinventario/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% for p in proveedores %}
        <li style="color:rgb(227, 243, 7)" >{{p}}</li>
            <button  style="background-color:rgb(11, 3, 77);color:rgb(228, 231, 17)">
                <a href="{% url 'EliminarProveedores' p.empresa %}"> Eliminar</a>
                <a href="{% url 'EditarProveedores'  p.empresa %}"> Editar</a>
            </button>
        {% endfor %}
    <br>
    
    <a href="{% url 'LeerProveedores' %}" class="button" ;style="color:white"> Volver al listado</a>    

{% endblock %}